@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Libre Baskerville', serif;
}

body {
  /* background: #010811; */
}

.images {
  width: 100px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.maincontainer {
  width: 80%;
  margin: 0 auto;
  /* border: 1px solid black; */
  padding: 20px 0;
}

h1 {
  text-align: center;
  padding: 10px 0;
  color: #fff;
}

h2 {
  color: #fff;
}

.input_text {
  width: 80%;
  padding: 10px 0;
  margin: 0 auto;
}

.summit {
  padding: 10px;
  cursor: pointer; 
}

.display {
  padding: 10px 0;
}

hr {
  width: 67%;
  margin-left: 135px;
  /* margin: 0 auto; */
}

.my_profile {
  display: flex;
  gap: 1.5rem;
  width: 80%;
  margin: 0 auto;
  padding-top: 30px;
  /* color: #fff; */
  width: 80%;
}

/* .inside_js {
  border: 1px solid black;
} */

img {
  width: 150px;
  border-radius: 50%;
}

.information {
  padding-top: 50px;
  /* color: #fff; */
  gap: 2rem;
}

.information a {
  text-decoration: none;
  color: #fff;
  /* padding: 50px 0; */
}

a:hover {
  color: #4c5cee;
}

.information-box {
  width: 83%;
  padding: 10px;
  display: flex;
  gap: 1.5rem;
  box-shadow: 0 3px 15px 0 #000;
}