@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Libre Baskerville', serif;
}

body {
  background: #282c34;
}

.images {
  width: 100px;
  display: flex;
  justify-content: center;
  margin: 10px auto;
}

.maincontainer {
  width: 80%;
  margin: 0 auto;
  padding: 20px 0;
}

h1 {
  text-align: center;
  padding: 10px 0;
  color: #fff;
}

h2 {
  color: #fff;
}

.input_text {
  width: 80%;
  padding: 10px 0;
  margin: 0 auto;
}

.summit {
  padding: 10px;
  cursor: pointer; 
}

.display {
  padding: 10px 0;
}

hr {
  width: 67%;
  margin-left: 135px;
}

.my_profile {
  display: flex;
  gap: 1.5rem;
  width: 80%;
  margin: 0 auto;
  padding-top: 30px;
  width: 80%;
}

img {
  width: 150px;
  border-radius: 50%;
}

.information {
  padding-top: 50px;
  gap: 2rem;
}

.information a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  color: #4c5cee;
}

.information-box {
  width: 83%;
  padding: 10px;
  display: flex;
  gap: 1.5rem;
  box-shadow: 0 3px 15px 0 #000;
}

.copyright {
  text-align: center;
  padding-top: 25px;
}

/* mobile view */
@media screen and (max-width: 768px) {
  .maincontainer {
    width: 90%;
  }

  hr {
    width: 90%;
    margin: 0 auto;
  }

  .my_profile {
    width: 100%;
  }

  .information-box {
    width: 90%;
    margin: 0 auto;
  }
}
